

#popdiv {
  direction: rtl;
  background-color: #f2f2f2;
  max-width: 550px;
  width: 95%;
  margin:0 auto;
  
  
}


.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}



form[id="fedform"]{
    
    max-width: 550px;
    width: 95%; 
    margin:0 auto;
    padding-left:20px; 
    padding-right:20px;
    
    padding-bottom: 20px;
}

a{
    color: white;
}

button[type="submit"]{
    text-align: center;
    display: block;
    margin: 0 auto;
}


  
   



