
#wrapper{
	background-color: #BDD0C6;
}
#internalWrapper{
	width:80%;
}

body{
    background: url('../media/background4.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    direction: rtl;
    
}


p{
	font-size:20px;
}

#logoAndHead { 	
  width: 50%;
  margin: auto;
  text-align:center;
  display:block;
}                  
#logoAndHead p{color:black;}
#logoAndHead img{width: 50%;}


#video {
    float: right;
    padding: 40px;
    margin: auto;
}


.indexPic{
	height:80%;
}
