body {
    background-color: #f2f2f2;
}

nav {
    direction: rtl;
}

nav form {
    padding-right: 200px;
}

.form-control {
    width: 550px;
}

#main{
    margin-top:30px;
    direction:rtl;
}

#footer{
    margin-bottom:0;
}


