body {
    background-color: #EAF2F8;
}

nav {
    direction: rtl;
}

nav form {
    padding-right: 200px;
}

#recommended img {
    width:60px;
    height:60px;
}

#title{
    margin-bottom:0;
}

#main{
    margin-top:30px;
    direction:rtl;
    overflow-x: auto;
}


#main_homepage{
    margin-top:30px;
    direction:rtl;
    overflow-x: auto;
    max-width: 1500px;
}


#footer{
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
	font-size:15px;
    background-color: #5DADE2;
    color: white;
    margin-top: 50px;

}

#footerLogo
img{width: 10%;}

footer h6 {
    display: inline;
    margin-right: 1em;
  }


.tooltip {
    direction: rtl;
}

div.scroll {
    overflow: auto;
}

.verticalText {
    vertical-align: middle;
}

#verticalText td 
{
    vertical-align: middle;
}