body {
    background-color: #f2f2f2;
     direction: rtl;
}

nav {
    direction: rtl;
}

nav form {
    padding-right: 200px;
}


a[id="active"]{ 
    background-color: lightskyblue; 
}

.container-sm{
    padding-top:30px;
    padding-bottom:30px;
    padding-right:50px;
    padding-left:50px;
    
}

input[type="range"]{
    direction: ltr;
}

input[id=textInput]
{
 border:hidden;
 background-color: #f2f2f2;
 font-size: 35px;
 padding-left:20px;
 color:Highlight;
}

button[id="subid"]{
    text-align: center;
    display: block;
    margin: 0 auto;

}

